<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="dockHeight" value="42"/>
        <add key="dockWidth" value="100%"/>
        <add key="dockOpacity" value="75%"/>
        <add key="dockColor" value="#7f007f"/>
        <add key="dockCentered" value="true"/>  
        <add key="IconSpacing" value="10"/>
    </appSettings>
</configuration>