<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="dockHeight" value="42"/>
        <add key="dockWidth" value="100%"/>
        <add key="dockOpacity" value="75%"/>
        <add key="dockColor" value="#7f007f"/>
        <add key="dockCentered" value="true"/>
        <add key="dockPosition" value="bottom"/>
        <add key="dockMargin" value="NotImplemented"/>
        <add key="iconSpacing" value="10"/>
				<add key="traySpacing" value="5"/>
        <add key="iconLabels" value="false"/>
        <add key="iconsFromAllDisplays" value="false"/>
    </appSettings>
</configuration>